* {
  box-sizing: border-box;
  text-align: center;
}

body {
    background:url("../images/fish.jpg");

    margin:75px;
    padding:75px;

}

#center {
    text-decoration-color: #ffffff;
}

a: link {
    text-decoration: none;
    color: #777;
}
#header {
    width: 100%;
    background-color: #ffffff;
    overflow: auto;
    border-style: none none solid none;
    border-bottom-color: #cccccc;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    color: #777777;
}
aside {
    float: left;
    width: 30%;
    margin-left: 150px;
    padding: 10px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 28px;
}
nav {
    font-size: 18px;
    padding: 16px;
}
#section-left {
    float: left;
    background-color: #ffffff;
    overflow: auto;
    width: 50%;
    height: 530px;
    margin-left: 50px; 
    border: 1px solid #dddddd;
    padding: 10px;
}
h1 {
    font-family:  'Roboto Mono', monospace;
    font-size: 80px;
    color: #ffffff;
    text-shadow: 2px 2px #ff0000;
}
h2 {
    font-family: 'Roboto Mono', monospace;
    float: top;
    text-align: left;
    font-size: 26px;
    border-style: none none solid none;
    border-bottom-color: #cccccc;
    color: #4aaaa5;
    background-color: #ffffff;
}
p {
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    color: #777777;
}
button {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    padding: 20px;
    text-align: left;
    float: left;
}
#section-right {
    float: left;
    width: 20%;
    margin-left: 80px;
    background-color: #ffffff;
}
h3 {
    font-family: 'Roboto Mono', monospace;
    border-style: none none solid none;
    border-bottom-color: #cccccc;
    color: #4aaaa5;
    font-size: 18px;
}
div {
    text-align: center;
    font-size: 100px;
    font-family: 'Roboto Mono', monospace;   
    color: #ffffff;
    text-shadow: 2px 2px #ff0000; 
}
footer {
    background-color: #666666;
    padding: 20px;
    clear: both;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    color: #ffffff;
    border-style: solid none none none;
    border-top-color: #4aaaa5;
    border-width: 8px;
}
.TextWrap{
    float: left;
    margin: 0px 10px 10px 10px;
}
.social-icons{
    list-style-type:none;
}
.social-icons li{
    display:inline;
}
.social-icons li img{
    width:20%;
}
.winner {

}
