
body {
  background:lightgreen;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  color:white;
  height:100%;
  text-align:center;
  font-size:18px;
}
#alphabet:after {
  color: #525050;
  content: "";
  display: table;
  clear: both;
}

.wrappper{
  @include clear;
  width:100%;
  margin:0 auto;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100px;
  text-transform: uppercase;
   margin-top: 5px 0;
   margin-bottom: 5px;
}

h1 {
  font-size: 2.6em;
  color: #525050;
  margin-bottom: 15%;
}

h2 {
  font-size: 1.6em;
  width: 100%;
  padding-top: inherit;
  padding-bottom: 40%;
}

h3 {
  margin-top: 7%;
  color: #525050;
}

p{
  font-size: 1.6em;
}
.container-fluid {
    background: #E5F9BD;
}

.myWord {
  
}

#alphabet li   { float: left;
    margin: 0 10px 10px 0;
    list-style: none;
    width: 35px;
    height: 45px;
    padding-top: 10px;
    background: #525050;
    color: #c1d72e;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    border: solid 1px #fff;
}
/*#alphabet li {
  float:left;
  margin: 0 10px 10px 0;
  list-style:none;
  width:35px;
  height:30px;
  padding-top:10px;
  background:$white;
  color:$base-color;
  cursor:pointer;
  @include corners(5px);
  border: solid 1px $white;
    
    &:hover{
      background:color;
      border: solid 1px $white;
      color:$white;
    }
}*/

.jumbotron {
  background-color: #525050;
/*  background: #E5F9BD;*/
}

.li {
  position: float-left;
}

.myWord-li {
  
}

footer {
  position: /*inherit,*/ fixed;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: #525050;
  text-align: center
  padding: 16rem;
}
/*@media (max-width: 767px) {
  #alphabet li {
      float: left;
      margin-top: 0px;
      margin-right: 10px;
      margin-bottom: 10px;
      margin-left: 0px;
      list-style-type: none;
      list-style-position: initial;
      list-style-image: initial; 
      width: 35px;
      height: 30px;
      padding-top: 10px;
      background-color: blue;
      background-image: initial:
      background-position-x: initial;
      background-position-y: initial;
      background-size: initial;
      background-repeat-x: initial;
      background-repeat-y: initial;
      background-attachment: initial;
      background-origin: initial;
      background-clip: initial;*/
/*      background-color: white;*/
/*background: #E5F9BD;
  color: #c1d72e;
  cursor: pointer;
  border: solid 1px #fff;    
  padding:0 0 0 15px;
}
  }*/
